.photo-bg {
  background-image: url("/public/assets/images/padhai2.jpg");
  background-repeat: no-repeat;
  filter: blur(4px);
  filter: hue-rotate(90deg);
  filter: drop-shadow(4px 4px 5px #2e1e00) hue-rotate(180deg) blur(2px)
    sepia(20%);
  border-radius: 80px;
  height: 308px;
  background-size: contain;
  width: 368px;
  float: right;
  z-index: 0;
  /* position: relative; */
  bottom: 78px;
  /* height: 100px;
  width: 84px; */
}
.slide-top {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
